[Oo]bj/
[Bb]in/
TestResults/
*.sln.ide/
_ReSharper.*/
SpecDrill.NuGet.*/
packages/
artifacts/
.vs/
.sonarqube/
**/wwwroot/lib/
debugSettings.json
project.lock.json
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.settings
*.sln.ide
node_modules
**/[Cc]ompiler/[Rr]esources/**/*.js
sonarcloud-scan.bat
