<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="LogFileAppender" />
  </root>
  
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file type="log4net.Util.PatternString">
      <conversionPattern value="Logs\log-%date{yyyyMMdd}.log" />
    </file>
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="2" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n%-7p-%date{yyyy-MM-dd@hh:mm:ss}-%exception-%m" />
    </layout>
  </appender>
</log4net>